-r requirements.txt
# pep 660 editable wheels
setuptools>=64
wheel
ninja
# https://gitlab.kitware.com/cmake/cmake/-/issues/25702#note_1485760
cmake>=3.29
ctypesgen
cmake-format
black
pytest
pybind11[global]
delvewheel; sys_platform == 'win32'
auditwheel; sys_platform == 'linux'
cibuildwheel
pyPCIe
cffi
einspect
pycapi; sys_platform == 'linux'